*{
	padding: 0;
	margin: 0;
}
.banner{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner i.fa{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 35vw;
	text-align: center;
	color: #000;
	line-height: 100vh;
	mix-blend-mode: screen;
}
.banner i.fa:hover{
	color: #ccc;
	background: #000;
}
@media (max-width: 760px)
{
	.banner{
		flex-direction: column;
	}
	.banner i.fa{
		height: 50%;
		line-height: 50vh;
		font-size: 50vw;
	}
}